.godot/uid_cache.bin
.godot/mono/metadata/ide_messaging_meta.txt
.godot/imported/icon.svg-218a8f2b3041327d8a5756f3a245f83b.md5
.godot/global_script_class_cache.cfg
.godot/editor/script_editor_cache.cfg
.godot/editor/project_metadata.cfg
.godot/editor/filesystem_cache8
.godot/editor/editor_layout.cfg
.godot/editor/character.tscn-folding-f3ad8ed347759009a98600038a183011.cfg
